.contact {
  background-color: white;
  display: flex;
  justify-content: center;
}

form {
  background-color: white;
  color: black;
  font-family: "Libre Baskerville", serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

form .input-box {
  margin-top: 20px;
}

.input-box .field {
  width: 500px;
  height: 50px;
  background: transparent;
  border: 3px solid #ff66c496;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  color: gray;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
}

.input-box .field.mess {
  height: 100px;
  width: 96.8%;
}

form button {
  height: 55px;
  background-color: #ff66c496;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 500px;
  margin-top: 25px;
  transition: 0.8;
}

form button:hover {
  background-color: #ff66c4;
}

.result-message {
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
