.title-kontakt {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  margin: 0 60px;
  padding-bottom: 50px;
}

.title-kontakt h1 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 80px;
  color: white;
  margin: 40px 0;
}

.title-kontakt p {
  margin: 10px 200px;
  line-height: 2;
  color: #242323;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1025px) {
  .title-kontakt p {
    margin: 10px 100px;
  }
}

@media (max-width: 769px) {
  .title-kontakt p {
    margin: 10px 20px;
  }
}

@media (max-width: 426px) {
  .title-kontakt h1 {
    font-size: 50px;
  }

  .title-kontakt {
    margin: 0 20px;
  }
}

@media (max-width: 321px) {
  .title-kontakt h1 {
    font-size: 40px;
  }
}
