.carrusel-container {
  /* styles for the container */
  max-width: 800px;
  margin: 0px auto; /* add auto margin to center the container */
  padding: 20px;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
}

.carrusel {
  text-align: center;
  position: relative; /* add relative positioning to the carousel */
}

.carrusel-item {
  /* styles for each carousel item */
  position: absolute; /* add absolute positioning to each item */
  top: 0; /* set the top position to 0 */
  left: 100%; /* set the initial left position to 100% (outside the carousel) */
  width: 100%; /* set the width to 100% of the carousel */
  margin: 10px;
  display: none; /* hide all items by default */
  transition: transform 1s ease-in-out; /* add a transition effect */
}

.carrusel-item.active {
  display: block; /* show the active item */
  transform: translateX(0); /* set the final left position to 0 (inside the carousel) */
}

.carrusel-item.prev {
  transform: translateX(-100%); /* set the left position to -100% (outside the carousel to the left) */
}

.carrusel-item.next {
  transform: translateX(100%); /* set the left position to 100% (outside the carousel to the right) */
}

.carrusel-controls {
  text-align: center;
}