.title-catering {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  margin: 0 60px;
}

.title-catering h1 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 80px;
  color: white;
  margin: 40px 0;
}

.title-catering p {
  margin: 10px 200px;
  line-height: 2;
  color: #242323;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.companies-logos {
  display: flex;
  justify-content: space-around; /* Espacia los logos uniformemente */
  align-items: center; /* Centra los logos verticalmente */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  margin: 30px 0;
}

.companies-logo {
  width: 300px;
}

.special {
  width: 100px !important;
}

.Video-container {
  text-align: center;
  background-color: white;
  padding: 50px;
}

.video {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border: 8px solid #242323;
}

.video-bagel {
  position: absolute;
  width: 33%;
  right: 80px;
  transform: rotate(20deg);
}

.Video-container a {
  background-color: #ff66c4;
  border-color: #ff66c4;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.Video-container a:hover {
  text-decoration: underline;
}

.container-slides {
  width: 500px;
  height: 270px;
  margin: 0 auto;
  padding: 0px 0 220px 0;
}

@media (max-width: 1025px) {
  .title-catering p {
    margin: 10px 100px;
  }

  .video {
    width: 80%;
  }

  .video-bagel {
    top: 920px;
    right: 50px;
    width: 28%;
  }
}

@media (max-width: 769px) {
  .title-catering p {
    margin: 10px 50px;
  }

  .companies-logo {
    width: 200px;
  }
}

@media (max-width: 426px) {
  .title-catering {
    margin: 0 30px;
  }

  .title-catering h1 {
    font-size: 60px;
  }

  .title-catering p {
    margin: 0px 10px;
  }

  .companies-logos {
    flex-direction: column;
    gap: 40px;
  }

  .video-bagel {
    top: 1230px;
    right: 20px;
    width: 23%;
  }

  .video {
    width: 100%;
  }

  .Video-container a {
    font-size: 12px;
  }
}

@media (max-width: 321px) {
.title-catering h1{
  font-size: 50px;
}
}