.lokal {
  background-color: white;
}
.container-lokal {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
}

.title-lokal p {
  font-family: "Montserrat", sans-serif;
}

.title-lokal {
  font-family: "Libre Baskerville", serif;
  padding: 40px;
}

.stickers img {
  width: 300px;
}
