.lokal {
  background-color: white;
}

.container-lokal {
  padding: 100px 50px;
  display: flex;
  align-items: center;
}

.title-lokal {
  font-family: "Libre Baskerville", serif;
  padding: 0 100px;
}

.title-lokal p {
  font-family: "Montserrat", sans-serif;
}

.stickers {
  display: flex;
  justify-content: space-evenly; /* Espacio igual entre las imágenes */
  padding: 0 50px;
}

.stickers img {
  width: 300px;
}

@media (max-width: 1025px) {
  .container-lokal {
    flex-direction: column;
    padding: 50px 20px;
  }
}

@media (max-width: 426px) {
  .title-lokal {
    padding: 0 10px;
  }

  .stickers {
    flex-wrap: wrap;
  }
}
