.owner {
  background-color: white;
  border-top: 15px groove #ff66c4;
}

.container-owner {
  padding: 100px 50px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between; /* O space-evenly */
}

.title-owner {
  font-family: "Libre Baskerville", serif;
  padding: 0 100px;
}

.title-owner p {
  font-family: "Montserrat", sans-serif;
}

.Raphael {
  width: 500px;
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
