.guy {
  background-image: url("./img/tasks.png"); /* Agrega la ruta de tu imagen aquí */
  background-position: center; /* Centra la imagen dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: 5% 50%;
  background-size: 14% auto;
  padding: 150px 0;
  background-color: white;
}

.Raphael {
  display: block;
  width: 100px;
  border-radius: 50%;
}
