.tasks {
  padding: 100px 00px;
  background-color: white;
}

.container-tasks {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 20px; /* Espaciado entre columnas y filas */
}

.buMachine {
  width: 200px;
  margin: 0 auto;
}

.tasks-title h1 {
  font-family: "Libre Baskerville", serif;
}

.tasks-title {
  text-align: center;
  align-items: center;
}

.bubbles {
width: 200px;
margin: 0 auto;
}
