.title-menu {
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: 40px;
}

.title-menu h2 {
  font-size: 38px;
  margin: 0;
}

.title-menu h1 {
  font-size: 115px;
  margin: 0;
}

.bagels {
  background-color: white;
}

.grid-container-menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 50px 120px;
  align-items: center;
}

.grid-row-menu {
  display: contents;
}

.grid-cell-menu {
  padding: 30px;
}

.img-column-menu {
  margin: 0 auto;
}

.text-column-menu h1 {
  border-bottom: 2px solid black;
  padding: 0 0 20px 0;
  margin: 10px 0 0px 0;
  font-weight: 400;
}

.text-column-menu p {
  line-height: 2;
}

.best-sellers {
  border: 5px solid #bba45b;
  border-radius: 15px;
}

.text-column-menu button {
  background-color: #bba45b;
  border-color: #bba45b;
  padding: 20px;
  color: white;
  width: 170px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 0 0;
}

.vegan {
  background-color: #7ec77b !important;
  border-color: #7ec77b !important;
}

.vegetarisch {
  background-color: #a9c360 !important;
  border-color: #a9c360 !important;
}

@media (max-width: 769px) {
  .grid-container-menu {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 426px) {
  .title-menu h1 {
    font-size: 90px;
  }

  .grid-container-menu {
    padding: 50px 0; 
  }

}
