.hero {
  height: auto;
  background-image: url("./img/bagel.png"); /* Agrega la ruta de tu imagen aquí */
  background-position: center; /* Centra la imagen dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: 35% auto;
}

.title {
  text-align: center;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  padding: 80px 0 130px 0;
}

.title h1 {
  font-size: 200px;
  padding: 0;
  margin: 0;
}

.title h2 {
  font-size: 90px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1025px) {
  .hero {
    background-size: 50% auto;
  }
}

@media (max-width: 769px) {
  .title {
    padding: 20px 0;
  }

  .title h1 {
    font-size: 180px;
  }
}

@media (max-width: 426px) {
  .title {
    padding: 50px 0;
  }

  .hero {
    background-size: 70% auto;
  }
}

@media (max-width: 376px) {
  .hero {
    background-size: 80% auto;
  }
}
