.menu {
  background-color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr; /* Esto define dos columnas de igual tamaño */
}

.menu-description {
  text-align: center; /* center text horizontally */
  margin: 80px;
}

.menu h1,
h2 {
  font-family: "Libre Baskerville", serif;
}

.menu p {
  line-height: 2; /* adds 50% more space between lines */
  text-align: left;
  margin: 40px 0;
}

.menu a {
  text-decoration: none; /* remove default underline */
  border: 1px solid black; /* add 1px black border */
  color: #000; /* set text color to black (optional) */
  padding: 20px;
  font-weight: 500;
}

.menu a:hover {
  text-decoration: underline; /* add underline on hover (optional) */
}

.menu img {
  width: 100%;
}

@media (max-width: 1025px) {
  .menu {
    padding: 20px;
  }

  .menu-description {
    margin: 40px;
  }

  .menu img {
    width: 100%;
    border-radius: 10%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 426px) {
  .menu {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .menu img {
    width: 50%;
    margin: 0 auto;
  }
}
