.philosoph {
  background-color: white;
  display: flex;
  align-items: center;
}

.phisoloph-description {
  text-align: center;
  margin: 80px;
}

.philosoph h1,
h2 {
  font-family: "Libre Baskerville", serif;
}

.philosoph p {
  line-height: 2;
  text-align: left;
  margin: 40px 0;
}

.philosoph a {
  text-decoration: none;
  border: 1px solid black;
  color: #000;
  padding: 20px;
  font-weight: 500;
}

.philosoph a:hover {
  text-decoration: underline; /* add underline on hover (optional) */
}

.philosoph img {
  width: 50%;
}
