.philosoph {
  background-color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.phisoloph-description {
  text-align: center;
  margin: 80px;
}

.philosoph h1,
h2 {
  font-family: "Libre Baskerville", serif;
}

.philosoph p {
  line-height: 2;
  text-align: left;
  margin: 40px 0;
}

.philosoph a {
  text-decoration: none;
  border: 1px solid black;
  color: #000;
  padding: 20px;
  font-weight: 500;
}

.philosoph a:hover {
  text-decoration: underline;
}

.philosoph img {
  width: 100%;
}

@media (max-width: 1025px) {
  .philosoph {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr auto;
    padding: 20px;
  }

  .philosoph img {
    width: 100%;
    margin: 0 auto;
    border-radius: 10%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  }

  .phisoloph-description {
    margin: 40px;
  }
}
