.direction {
  background-color: #242323;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

@media (max-width: 426px) {
  .direction {
    font-size: 16px;
  }

  .title h1 {
    font-size: 90px;
  }

  .title h2 {
    font-size: 50px;
  }
}
