.footer {
  background-color: #242323;
  color: white;
  padding: 20px 50px;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-footer a {
  color: white;
  text-decoration: none;
}

.container-documents {
  display: flex;
  margin-top: 80px;
}

.container-documents a {
  margin-right: 80px;
  color: white;
  text-decoration: none;
}
