.logo {
  width: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar {
  padding: 2px 0;
  background-color: none;
  font-weight: 600;
  margin: 10px 0;
}

.nav-link {
  color: #242323;
}

.nav-link:hover {
  color: #242323a5;
}
