.direction {
  background-color: #242323;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 180px;
  height: 100px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ccc;
}
