.philosoph {
  background-color: white;
}

.container-philosoph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.phisoloph-description {
  text-align: center; /* center text horizontally */
  margin: 80px;
}

.philosoph h1,
h2 {
  font-family: "Libre Baskerville", serif;
}

.philosoph p {
  line-height: 1.5; /* adds 50% more space between lines */
  text-align: left;
  margin: 40px 0;
}

.philosoph a {
  text-decoration: none; /* remove default underline */
  border: 1px solid black; /* add 1px black border */
  color: #000; /* set text color to black (optional) */
  padding: 20px;
  font-weight: 500;
}

.philosoph a:hover {
  text-decoration: underline; /* add underline on hover (optional) */
}

.container-philosoph img {
  width: 100%;
  height: 600px;
}
